<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insert/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="csv_file">Upload File :- </label>
        <input type="file" name="csv_file"><br><br>
        <button type="submit">Upload</button>
    </form><br>
    <a href="/adddata/"><button>Add Data</button></a>
</body>
</html>